/* Your app custom styles here */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.tabbar-label {
    line-height: 1.5em !important;
}

.navbar .title {
    line-height: 2em;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navbar .title .subtitle-nav{
    font-size: 14px;
    color: rgb(26, 90, 133);
}

.badge {
    margin-right: 5px;
}